<div class="container mt-5">
    <form>
        <div class="row">
          <div class="col">
            <label>Nombres:</label>
            <input type="text" class="form-control" placeholder="ingrese sus Nombres" required/>
          </div>
          <div class="col">
              <label>Apellidos:</label>
            <input type="text" class="form-control" placeholder="ingrese sus Apellidos">
          </div>
        </div>

        <div class="row">
            <div class="col">
                <label>Identificación:</label>
              <input type="number" class="form-control" placeholder="ingrese su número de Identificación">
            </div>
            <div class="col">
              <label>Correo:</label>
              <input type="email" class="form-control" placeholder="correo electronico">
            </div>
            
          </div>

          <div class="row">
              <div class="col">
                  <label>Telefono:</label>
                <input type="number" class="form-control" placeholder="ingrese su número de contacto">
              </div>
              <div class="col">
                <label>Celular:</label>
                <input type="number" class="form-control" placeholder="ingrese su número celular">
              </div>
             
            </div>

            <div class="row">
                <div class="col">
                  <label>Direccion:</label>
                  <input type="text" class="form-control" placeholder="ingrese su dirección">
                </div>
                <div class="col">
                    <label>Barrio:</label>
                  <input type="text" class="form-control" placeholder="ingrese su barrio">
                </div>
              </div>


              <div class="row">
                  <div class="col">
                      <label>Edad:</label>
                    <input type="number" class="form-control" placeholder="ingrese su edad">
                  </div>

                  <div class="col">
                    <label>Genero:</label>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="GeneroM" id="GeneroM" value="0" checked>
                          <label class="form-check-label" for="exampleRadios1">
                            Masculino
                          </label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                          <input class="form-check-input" type="radio" name="GeneroF" id="GeneroF" value="1" >
                            <label class="form-check-label" for="exampleRadios1">
                              Femenino
                            </label>
                      </div>
                 </div>
               </div>

               <div class="row">
                  <div class="col">
                    <br>
                    <button class="btn btn-primary">Aceptar</button>
                  </div>
                  <div class="col">
                    <br>
                      <button class="btn btn-outline-dark">Cancelar</button>
                  </div>
                </div>
  
      </form>
</div>